Importación de librerías necesarias.

In [1]:
import pandas as pd
import numpy as np
import re
from pathlib import Path 
import chardet

Definir una función para importar cada archivo.

In [2]:
def importar(path):
    with open(path, 'rb') as f:
        result = chardet.detect(f.read())
        # Para importar archivos csv
        if Path(path).suffix == ".csv": 
            data = pd.read_csv(path, encoding=result['encoding'], sep=None, engine='python', decimal='.')
        # Para importar archivos parquet
        elif Path(path).suffix == ".parquet": 
            data = pd.read_parquet(path, engine='pyarrow')
        # Para importar archivos json
        elif Path(path).suffix == ".json": 
            data = pd.read_json(path, precise_float=True)
        # Para importar archivos txt
        elif Path(path).suffix == ".txt": 
            data = pd.read_table(path, sep='|', engine='python')
            
    return data

Definir funciones adicionales

In [3]:
def extraer_num(columna):
    d = re.match(r"\d+", columna)
    if d:
        return int(d.group())
    else:
        return 0

Iterar la función para importar cada archivo de datos.

In [4]:
db_amazon = importar ('./Datasets/amazon_prime_titles.csv')
db_disney = importar ('./Datasets/disney_plus_titles.csv')
db_hulu = importar ('./Datasets/hulu_titles.csv')
db_netflix = importar ('./Datasets/netflix_titles.json')

Preparación de tablas individuales.

1) LIMPIEZA DE TABLA AMAZON

In [5]:
#Verificar estructura de la tabla.
db_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [6]:
#Eliminar columnas innecesarias y agregar una con la plataforma.
db_amazon = db_amazon[['title','duration','release_year','type','listed_in','cast']]
db_amazon['Plataforma'] = np.nan
db_amazon['Plataforma'].fillna('Amazon', inplace=True)
db_amazon.reset_index(drop=True, inplace=True)

In [7]:
#Verificar resultado esperado.
print(db_amazon.duplicated().sum())
db_amazon.head()

0

,title,duration,release_year,type,listed_in,cast,Plataforma
0,The Grand Seduction,113 min,2014,Movie,"Comedy, Drama","Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Amazon
1,Take Care Good Night,110 min,2018,Movie,"Drama, International","Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",Amazon
2,Secrets of Deception,74 min,2017,Movie,"Action, Drama, Suspense","Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",Amazon
3,Pink: Staying True,69 min,2014,Movie,Documentary,"Interviews with: Pink, Adele, Beyoncé, Britney...",Amazon
4,Monster Maker,45 min,1989,Movie,"Drama, Fantasy","Harry Dean Stanton, Kieran O'Brien, George Cos...",Amazon

2) LIMPIEZA DE TABLA DISNEY

In [8]:
#Verificar estructura de la tabla.
db_disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [9]:
#Eliminar columnas innecesarias y agregar una con la plataforma.
db_disney = db_disney[['title','duration','release_year','type','listed_in','cast']]
db_disney['Plataforma'] = np.nan
db_disney['Plataforma'].fillna('Disney', inplace=True)
db_disney.reset_index(drop=True, inplace=True)

In [10]:
#Verificar resultado esperado.
print(db_disney.duplicated().sum())
db_disney.head()

0

,title,duration,release_year,type,listed_in,cast,Plataforma
0,Duck the Halls: A Mickey Mouse Christmas Special,23 min,2016,Movie,"Animation, Family","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",Disney
1,Ernest Saves Christmas,91 min,1988,Movie,Comedy,"Jim Varney, Noelle Parker, Douglas Seale",Disney
2,Ice Age: A Mammoth Christmas,23 min,2011,Movie,"Animation, Comedy, Family","Raymond Albert Romano, John Leguizamo, Denis L...",Disney
3,The Queen Family Singalong,41 min,2021,Movie,Musical,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",Disney
4,The Beatles: Get Back,1 Season,2021,TV Show,"Docuseries, Historical, Music","John Lennon, Paul McCartney, George Harrison, ...",Disney

3) LIMPIEZA DE TABLA HULU

In [11]:
#Verificar estructura de la tabla.
db_hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [12]:
#Eliminar columnas innecesarias y agregar una con la plataforma.
db_hulu = db_hulu[['title','duration','release_year','type','listed_in','cast']]
db_hulu['Plataforma'] = np.nan
db_hulu['Plataforma'].fillna('Hulu', inplace=True)
db_hulu.reset_index(drop=True, inplace=True)

In [13]:
#Verificar resultado esperado.
print(db_hulu.duplicated().sum())
db_hulu.head()

0

,title,duration,release_year,type,listed_in,cast,Plataforma
0,Ricky Velez: Here's Everything,NaN,2021,Movie,"Comedy, Stand Up",NaN,Hulu
1,Silent Night,94 min,2020,Movie,"Crime, Drama, Thriller",NaN,Hulu
2,The Marksman,108 min,2021,Movie,"Action, Thriller",NaN,Hulu
3,Gaia,97 min,2021,Movie,Horror,NaN,Hulu
4,Settlers,104 min,2021,Movie,"Science Fiction, Thriller",NaN,Hulu

4) LIMPIEZA DE TABLA NETFLIX

In [14]:
#Verificar estructura de la tabla.
db_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

In [15]:
#Eliminar columnas innecesarias y agregar una con la plataforma.
db_netflix = db_netflix[['title','duration','release_year','type','listed_in','cast']]
db_netflix['Plataforma'] = np.nan
db_netflix['Plataforma'].fillna('Netflix', inplace=True)
db_netflix.reset_index(drop=True, inplace=True)

In [16]:
#Verificar resultado esperado.
print(db_netflix.duplicated().sum())
db_netflix.head()

0

,title,duration,release_year,type,listed_in,cast,Plataforma
0,Dick Johnson Is Dead,90 min,2020,Movie,Documentaries,None,Netflix
1,Blood & Water,2 Seasons,2021,TV Show,"International TV Shows, TV Dramas, TV Mysteries","Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",Netflix
2,Ganglands,1 Season,2021,TV Show,"Crime TV Shows, International TV Shows, TV Act...","Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Netflix
3,Jailbirds New Orleans,1 Season,2021,TV Show,"Docuseries, Reality TV",None,Netflix
4,Kota Factory,2 Seasons,2021,TV Show,"International TV Shows, Romantic TV Shows, TV ...","Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",Netflix

Unión de las tablas en una única tabla con todos los datos.

In [17]:
#Unión de las 4 tablas en una.
frames = [db_amazon,db_disney,db_hulu,db_netflix]
dbtotal = pd.concat(frames)
dbtotal.rename(columns={'title':'Titulo','duration':'Duracion','release_year':'Anio_estreno','type':'Tipo','listed_in':'Genero','cast':'Actores'}, inplace=True)

In [18]:
dbtotal.info()
print(dbtotal.isna().sum())
dbtotal.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Titulo        22998 non-null  object
 1   Duracion      22516 non-null  object
 2   Anio_estreno  22998 non-null  int64
 3   Tipo          22998 non-null  object
 4   Genero        22998 non-null  object
 5   Actores       17677 non-null  object
 6   Plataforma    22998 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.4+ MB
Titulo             0
Duracion         482
Anio_estreno       0
Tipo               0
Genero             0
Actores         5321
Plataforma         0
dtype: int64

,Titulo,Duracion,Anio_estreno,Tipo,Genero,Actores,Plataforma
0,The Grand Seduction,113 min,2014,Movie,"Comedy, Drama","Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Amazon
1,Take Care Good Night,110 min,2018,Movie,"Drama, International","Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",Amazon
2,Secrets of Deception,74 min,2017,Movie,"Action, Drama, Suspense","Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",Amazon
3,Pink: Staying True,69 min,2014,Movie,Documentary,"Interviews with: Pink, Adele, Beyoncé, Britney...",Amazon
4,Monster Maker,45 min,1989,Movie,"Drama, Fantasy","Harry Dean Stanton, Kieran O'Brien, George Cos...",Amazon

In [19]:
#Aplicar transformaciones a los datos.
#Columna Título.
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('#',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('"',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('(Dub)',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('(Sub) ',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('.hack//',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace(' (4K UHD)',''))
dbtotal['Titulo'] = dbtotal['Titulo'].str.strip(to_strip=None)

#Columna Duración.
dbtotal['Duracion'].fillna('Sin dato', inplace=True)
dbtotal['Duracion'] = dbtotal['Duracion'].map(extraer_num)

#Columna Actores.
dbtotal['Actores'].fillna('Sin dato', inplace=True)

In [20]:
#Reordenar el listado de películas y reindexar la tabla.
dbtotal.sort_values(by=['Titulo'], inplace=True)
dbtotal = dbtotal.reset_index(drop=True)

In [21]:
#Verificar estructura de la tabla definitiva.
dbtotal.info()
dbtotal.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Titulo        22998 non-null  object
 1   Duracion      22998 non-null  int64
 2   Anio_estreno  22998 non-null  int64
 3   Tipo          22998 non-null  object
 4   Genero        22998 non-null  object
 5   Actores       22998 non-null  object
 6   Plataforma    22998 non-null  object
dtypes: int64(2), object(5)
memory usage: 1.2+ MB

,Titulo,Duracion,Anio_estreno,Tipo,Genero,Actores,Plataforma
0,'71,99,2014,Movie,"Action, Adventure, Drama",Sin dato,Hulu
1,'76,118,2016,Movie,"Dramas, International Movies","Ramsey Nouah, Rita Dominic, Chidi Mokeme, Ibin...",Netflix
2,'89,87,2017,Movie,Sports Movies,"Lee Dixon, Ian Wright, Paul Merson",Netflix
3,'Allo 'Allo!,9,1992,TV Show,Comedy,"Gorden Kaye, Guy Siner, Jeremy Lloyd, Kirsten ...",Amazon
4,(500) Days Of Summer,95,2009,Movie,Comedy,"Joseph Gordon-Levitt, Zooey Deschanel , Geoff...",Amazon

In [22]:
#Exportar tabla limpia.
dbtotal.to_csv('./app/base_plataformas.csv', index=False)